
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myMultipleChoiceQuestionLabel">Crear o Editar un MultipleChoiceQuestion</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="multipleChoiceQuestion.id" readonly />
        </div>
        <div class="form-group">
            <label for="field_question">Question</label>
            <input type="text" class="form-control" name="question" id="field_question"
                    ng-model="multipleChoiceQuestion.question"
                    required ng-minlength="3" ng-maxlength="100" />
            <div ng-show="editForm.question.$invalid">
                <p class="help-block"
                    ng-show="editForm.question.$error.required">
                    Este campo es obligatorio.
                </p>
                <p class="help-block"
                    ng-show="editForm.question.$error.minlength" translate-value-min="3">
                    Este campo es obligatorio to be at least 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.question.$error.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_interactionType">InteractionType</label>
            <select class="form-control" name="interactionType" ng-model="multipleChoiceQuestion.interactionType" id="field_interactionType" required>
                <option value="Type1">Type1</option>
                <option value="Type2">Type2</option>
            </select>
            <div ng-show="editForm.interactionType.$invalid">
                <p class="help-block"
                    ng-show="editForm.interactionType.$error.required">
                    Este campo es obligatorio.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_exerciseId">ExerciseId</label>
            <input type="number" class="form-control" name="exerciseId" id="field_exerciseId"
                    ng-model="multipleChoiceQuestion.exerciseId"
                    min="1" max="100" />
            <div ng-show="editForm.exerciseId.$invalid">
                <p class="help-block"
                    ng-show="editForm.exerciseId.$error.min" translate-value-min="1">
                    This field should be more than 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.exerciseId.$error.max" translate-value-max="100">
                    This field cannot be more than 100.
                </p>
                <p class="help-block"
                    ng-show="editForm.exerciseId.$error.number">
                    Este campo debe ser un n&uacute;mero.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_source">Source</label>
            <input type="text" class="form-control" name="source" id="field_source"
                    ng-model="multipleChoiceQuestion.source"
                     />
        </div>

        <div class="form-group">
            <label for="field_multipleChoiceExerciseContainer">multipleChoiceExerciseContainer</label>
            <select class="form-control" id="field_multipleChoiceExerciseContainer" name="multipleChoiceExerciseContainer" ng-model="multipleChoiceQuestion.multipleChoiceExerciseContainer" ng-options="multipleChoiceExerciseContainer as multipleChoiceExerciseContainer.name for multipleChoiceExerciseContainer in multiplechoiceexercisecontainers track by multipleChoiceExerciseContainer.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_imageResource">imageResource</label>
            <select class="form-control" id="field_imageResource" name="imageResource" ng-model="multipleChoiceQuestion.imageResource" ng-options="imageResource as imageResource.name for imageResource in imageresources | orderBy:'id' track by imageResource.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_multipleChoiceSubjectSpecific">multipleChoiceSubjectSpecific</label>
            <select class="form-control" id="field_multipleChoiceSubjectSpecific" name="multipleChoiceSubjectSpecific" ng-model="multipleChoiceQuestion.multipleChoiceSubjectSpecific" ng-options="multipleChoiceSubjectSpecific as multipleChoiceSubjectSpecific.text for multipleChoiceSubjectSpecific in multiplechoicesubjectspecifics | orderBy:'id' track by multipleChoiceSubjectSpecific.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Cargar</span>
        </button>
    </div>
</form>
