<div>
    <h2>Activities</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="activity.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Crear una nueva entidad Activity</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteActivityConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(activity.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirme eliminación</h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Est&aacute; seguro de querer eliminar esteActivity?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Eliminar</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>exercise</th>
                    <th>level</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activity in activities track by activity.id">
                    <td><a ui-sref="activity.detail({id:activity.id})">{{activity.id}}</a></td>
                    <td translate="{{'buenOjoApp.ExerciseType.' + activity.type}}">{{activity.type}}</td>
                    <td>
                      <a ng-click="goToExercise(activity)">{{activity.exerciseId}}</a>
                    </td>
                    <td>
                        <a ui-sref="level.detail({id:activity.level.id})">{{resolveLevel(activity)}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="activity.detail({id:activity.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> Ver</span>
                        </button>
                        <button type="submit"
                                ui-sref="activity.edit({id:activity.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Editar</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(activity.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Eliminar</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
