
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myHangManExerciseHintLabel">Crear o Editar un HangManExerciseHint</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="hangManExerciseHint.id" readonly />
        </div>
        <div class="form-group">
            <label for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                    ng-model="hangManExerciseHint.text"
                    required />
            <div ng-show="editForm.text.$invalid">
                <p class="help-block"
                    ng-show="editForm.text.$error.required">
                    Este campo es obligatorio.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_x">X</label>
            <input type="number" class="form-control" name="x" id="field_x"
                    ng-model="hangManExerciseHint.x"
                    required min="0" max="1024" />
            <div ng-show="editForm.x.$invalid">
                <p class="help-block"
                    ng-show="editForm.x.$error.required">
                    Este campo es obligatorio.
                </p>
                <p class="help-block"
                    ng-show="editForm.x.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.x.$error.max" translate-value-max="1024">
                    This field cannot be more than 1024.
                </p>
                <p class="help-block"
                    ng-show="editForm.x.$error.number">
                    Este campo debe ser un n&uacute;mero.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_y">Y</label>
            <input type="number" class="form-control" name="y" id="field_y"
                    ng-model="hangManExerciseHint.y"
                    required min="0" max="1024" />
            <div ng-show="editForm.y.$invalid">
                <p class="help-block"
                    ng-show="editForm.y.$error.required">
                    Este campo es obligatorio.
                </p>
                <p class="help-block"
                    ng-show="editForm.y.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.y.$error.max" translate-value-max="1024">
                    This field cannot be more than 1024.
                </p>
                <p class="help-block"
                    ng-show="editForm.y.$error.number">
                    Este campo debe ser un n&uacute;mero.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_hangManExercise">hangManExercise</label>
            <select class="form-control" id="field_hangManExercise" name="hangManExercise" ng-model="hangManExerciseHint.hangManExercise" ng-options="hangManExercise as hangManExercise.id for hangManExercise in hangmanexercises track by hangManExercise.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Cargar</span>
        </button>
    </div>
</form>
