
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCourseLevelMapLabel">Crear o Editar un CourseLevelMap</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="courseLevelMap.id" readonly />
        </div>

        <div class="form-group">
            <label for="field_course">course</label>
            <select class="form-control" id="field_course" name="course" ng-model="courseLevelMap.course" ng-options="course as course.name for course in courses track by course.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_level">level</label>
            <select class="form-control" id="field_level" name="level" ng-model="courseLevelMap.level" ng-options="level as level.name for level in levels track by level.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_parent">parent</label>
            <select class="form-control" id="field_parent" name="parent" ng-model="courseLevelMap.parent" ng-options="level as level.name for level in levels track by level.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_threshold">Umbral de aprobaci&oacute;n</label>
            <input type="number" class="form-control" name="threshold" id="field_threshold"
                    ng-model="courseLevelMap.threshold"
                    required min="0">
            <div ng-show="editForm.totalScore.$invalid">
                <p class="help-block"
                    ng-show="editForm.totalScore.$error.required">
                    Este campo es obligatorio.
                </p>
                <p class="help-block"
                    ng-show="editForm.totalScore.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.totalScore.$error.number">
                    Este campo debe ser un n&uacute;mero.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Cargar</span>
        </button>
    </div>
</form>
